@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');


:root {
  --primary-color: #d4af37; 
  --secondary-color: #8b4513; 
  --accent-color: #228b22; 
  --bg-color: #b5530e;
  --overlay-color: rgba(25, 76, 25, 0.4);
}

body {
  @apply bg-cover bg-center bg-no-repeat antialiased relative;
  background-color: var(--bg-color);
  color: var(--primary-color); 
  font-family: "Arial", cursive;
}


h1, h2, p, a, button {
  font-family: "Arial", cursive;
}